@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px ;
    font-weight: 500,700;
}

html{
    background-color: hsl(210, 46%, 95%) ;
}

h1, h2, h3, h4, h5, h6{
    color: hsl(217, 19%, 35%);
}

h1{
    font-size: 16px;
    padding: 40px 25px 10px 25px;
}

h3{
    font-size: 13px;
    color: hsl(214, 17%, 51%);
    padding: 0 25px 20px 25px;
    opacity: 0.6;
}
.person > .tag > h4:nth-child(2){
    color: hsl(214, 17%, 51%);
    opacity: 0.6;
}

.card{
    max-width: 300px;
    max-height: auto;
    background-color: white;
    border-radius: 18px 18px 17px 17px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
}

.left-image > img{
    max-width: 300px;
    height: auto;
    border-radius: 17px 17px 0 0;
}

.attribution{
    display: none;
}

.person > .flexperson > img{
    width: 40px;
    border-radius: 50%;
}

.footr{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.person{
    display: flex;
}

.tag{
    padding-left: 14px;
}

.btm-side > .icon > img{
    padding: 10px 10px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
}

.btm-side > .icon{
    padding-right: 20px;
    width: 100%;
}

